.user-dashboard-page{
    $border: 1px solid #eeeeee;
    @mixin flex() {
        margin: 0;
        padding: 0;
    }

    position: relative;
    padding: 0;
    padding-top: 20px;

    & .navigation-user-dashboard-page{
        @include flex();
        @mixin together-char-menu-item{
            padding: 5px 3px;
            border: $border;
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;


            &:hover{ background: #888888; }

            @media screen and (min-width: 991px) {
                width: 160px;
            }
        }

        & .row{
            padding: 0;
            margin: 0;
             & ul.navigation-menu{
                @include flex();
                list-style-type: none;
                
                &.hidden{ 
                    display: none; 
                }
                
                & li{ 
                    @include together-char-menu-item(); 
                    margin: 0 0 5px 0;
                }
            }

            & #content-user-dashboard-page{
                @include flex();
                @mixin input-character-together() {
                    width: 100%;
                    padding: 10px 3px;
                    border: $border;
                }

                & .title-screen{
                    font-size: 20px;
                    font-family: inherit;
                    @media screen and (min-width: 768px) {
                        position: absolute;
                        top: -30px;
                        left: 50%;
                    }
                }

                & .main{
                    padding-top: 10px;
                    & #user-dashboard-information-screen{
                        & input[type=text], input[type=number] {
                            @include input-character-together();
                        }

                        & #btn-update-user-information,
                        & #btn-cancel-user-information{
                            margin-left: 10px;
                            float: right;
                        }
                    }

                    & #user-dashboard-change-password-screen{
                        & input[type=password] {
                            @include input-character-together();
                        }


                        & #btn-change-user-password,
                        & #btn-cancel-user-password{
                            margin-left: 10px;
                            float: right;
                        }
                    }

                    & #user-dashboard-add-new-product-screen{
                        & .add-group{
                            margin-bottom: 10px;
                            & .title-group-in-form{
                                margin: 0;
                                padding: 0;
                                font-size: 12px;
                                color: #888888;
                            }
                            
                            & input[type=text]{
                                border: $border;
                                width: 100%;
                                padding: 5px 3px;
                            }

                            & input[type=number] {
                                margin-left: 10px;
                                border: $border;
                            }

                            & select{
                                border: none;
                                border-radius: 0;
                                border: $border;
                            }

                            & .superFancyBlockquote{
                                color: #999;
                                font-family: 'Hoefler Text', Georgia, serif;
                                font-style: italic;
                                text-align: center;
                            }

                            & .rich-editor-group-manager{
                                padding: 20px 10px 20px 5px;
                                border: $border;
                                & .tool-c-text-s{
                                    padding: 10px;
                                    margin: 10px 0;
                                    border: $border;
                                    background: #eeeeee;
                                    border-radius: 7px;
                                    &:hover{
                                        background: #fff;
                                    }
                                }

                                & .RichEditor-controls:first-child{
                                    padding-bottom: 30px;
                                }
                            }

                            & .RichEditor-editor{
                                margin-top: 10px;
                                min-height: 150px;
                                border: $border;
                            }
                        }
                    }

                    @media screen and (min-width: 768px) {
                        padding: 10px 50px
                    }
                }
            }

            & .max-w{
                width: 100%;
            }
        } 
    

        & #btn-show-hidden-menu{
            @include together-char-menu-item();
            text-align: left;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding: 20px 20px 20px 20px;
    }
}