.product-view-page{
    //padding: 0;
    @mixin flex(){
        margin: 0;
        padding: 0;
        @media screen and (max-width: 768px) {
            margin: 5px 5px;
        }
    }
    @mixin together-resonsive(){
        @media screen and (max-width: 768px) {
            padding: 10px 5px;
        }
    
    }
    
    & .product-view-page-simple-product-info-group{
        & .row{
            & .show-product-images{
                @include together-resonsive();
                @media screen and (max-width: 991px) {
                    display: none;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }
            & .show-selected-product-image{
                @include together-resonsive();
                padding-left: 10px;
                padding-right: 30px;
                & .child{
                    position: relative;
                    & img{
                    width: 100%;
                    }
                    & span.status{
                        text-transform: uppercase;
                        position: absolute;
                        right: -15px;
                        top: -15px;
                        border-radius: 50%;
                        text-align: center;
                        width: 60px;
                        height: 60px;
                        color: white;
                        font-size: 13px;
                        line-height: 60px;
                        &.sale{
                            background: #222;
                        }
                        &.new{
                            background: yellow;
                            color: black;
                        }
                        @media screen and (max-width: 768px) {
                            right: -1px;
                            top: -10px;
                        }
                    }
                }
            }
            & .show-simple-product-info{
                & .show-product-name{
                    & h1{
                        @include flex();
                        padding-top: 10px;
                        padding-bottom: 15px;
                    }
                }
                & .show-product-category{
                    @include flex();
                    & a{
                        color: #888;
                        text-decoration: none;
                        font-weight: 500;
                        text-transform: uppercase;
                        &:hover{
                            text-decoration: none;
                            color: #222;
                        }
                    }
                }
                & .show-product-ranting{

                }
                & .show-product-des{
                    & p{
                        @include flex();
                        padding-bottom: 15px;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        color: #888;
                        font-size: 14px;
                    }
                }
                & .show-product-price{
                    & p{
                        @include flex();
                        padding-bottom: 35px;
                        font-size: 45px;

                    }
                }
                & .show-amount-addtocard{
                    $height: 40px;
                    padding-bottom: 25px;
                    @include flex();
                    @mixin character(){
                        padding: 0 10px;
                        font-size: 17px;
                        background: #eee;
                        text-transform: uppercase;
                        border-radius: 0;
                        height: $height;
                        line-height: $height;
                        @media screen and (max-width: 991px) {
                            margin: 5px 1px;
                            @media screen and (max-width: 768px) {
                                margin: 5px 1px;
                            }
                        }
                    }
                    & .show-ammount{
                        margin-right: 20px;
                        float: left;
                        & #product-page-ammount{
                            //@include flex();
                            @include character();
                            position: relative;
                            top: 2px;
                            margin-right: 1px;
                            width: 100px;  
                            text-align: center;
                            border: none;
                            &:hover{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                    & .btn.btn-addtocard{
                        //@include flex();
                        @include character();
                        float: left;
                        &::before{
                            display: inline-block;
                            font-size: 17px;
                            content: '+';
                            font-family: EntypoRegular;
                            line-height: 0;
                            position: relative;
                            margin-right: 10px;
                            top: 1px;
                        }
                        &:hover{
                            background: #222;
                            color: white;
                        }
                    }
                }
                & .show-product-info-value{
                    padding-bottom: 20px;
                    & p{
                        @include flex();
                        padding-top: 10px;
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 12px;
                        & strong{
                            padding-left: 7px;
                        }
                    }
                }
                & .show-share-group{
                    @mixin flex-text-here(){
                        padding: 5px 5px;
                        font-size: 14px;
                    }
                    & p:first-child{
                        @include flex();
                        @include flex-text-here();
                        padding: 5px 0;
                        float: left;
                        padding-right: 10px;
                    }
                    & ul{
                        @include flex();
                        float: left;
                        & li{
                            @include flex-text-here();
                            display: inline-block;
                            & a{
                                @include flex-text-here();
                                color: black;
                            }
                            &:hover{
                                color: white;
                                &.face{
                                    background: #1f68dd;
                                }
                                &.twitter{
                                    background: #1fd2f2
                                }
                                &.google{
                                    background: #e83547
                                }
                            }
                        }                        
                    }
                }
            }
        }
    }   

    & .product-view-page-product-details-info-group{
        @include flex();
        padding-top: 20px;
        & .tabs-group-details-info{
            position: relative;
            right: 0;
            left: 0;
            & li{
                & a{
                    color: #222;
                    text-transform: uppercase;
                }
            }
        }
        & .collapses{
            position: relative;
            & .collapse-item{
                @include flex();
                right: 0;
                left: 0;
                display: none;
                padding-top: 20px;
                &.show{
                    display: block;
                }
                & .collaspe-item-show-des{
                    & p{
                        font-family: Roboto,sans-serif;
                        margin: 0 0 10px;
                    }
                }
                & .table-show-product-edditional-info{
                    width: 100%;
                    & tr{
                        width: 100%;
                        font-family: 'Times New Roman', Times, serif;
                        color: #222;
                        font-weight: 100;
                        text-transform: uppercase;
                        font-size: 12px;
                        & th{ 
                            width: 20%; 
                            font-family: inherit;
                            font-weight: bold;     
                        }
                        & td, & th{
                            padding: 5px 5px;
                        }
                        &:hover{
                            background: #eee;
                        }
                    }    
                }
                & .post-new-review-group{
                    & #form-add-review-product{
                        & h3{
                            font-size: 36px;
                            margin-top: 40px;
                            margin-bottom: 20px;
                        }
                        & #comment-text{
                            width: 100%;
                            background: #eee;
                            border: none;
                            padding: 5px;
                        }
                        & input[type=submit]{
                            float: right;
                            padding: 2px 40px;
                            background: #222;
                            color: white;
                            border: none;
                            box-shadow: none;
                        }
                    }
                }
            }   
        }
    }

    @media screen and (max-width: 991px) {
        & {
            margin: 0;
            width: 100%;
            @media screen and (max-width: 768px) {
                padding: 0 30px;
                @media screen and (max-width: 550px) {
                    padding: 0 10px;
                }
            }
        }
    }      
}