.navigation-header {
  border-bottom: 1px solid #eeeeee;
  padding: 0;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px; }
  .navigation-header .navbar-menu-app {
    background: white;
    border: none;
    margin-bottom: 0; }
    .navigation-header .navbar-menu-app .container-fluid {
      margin: 0;
      padding: 0; }
      .navigation-header .navbar-menu-app .container-fluid a {
        text-transform: uppercase;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
      .navigation-header .navbar-menu-app .container-fluid .navbar-header a {
        background: none;
        border: none;
        color: #4d4d4d; }
        .navigation-header .navbar-menu-app .container-fluid .navbar-header a.navbar-brand {
          padding: 7px 5px;
          margin-top: 5px; }
          .navigation-header .navbar-menu-app .container-fluid .navbar-header a.navbar-brand img {
            width: 80%;
            height: 80%; }
          @media screen and (max-width: 556px) {
            .navigation-header .navbar-menu-app .container-fluid .navbar-header a.navbar-brand {
              padding: 10px 10px; } }
      @media screen and (max-width: 768px) {
        .navigation-header .navbar-menu-app .container-fluid #myNavbar li a {
          border-bottom: 1px solid #eeeeee;
          border-top: 1px solid #eeeeee; }
          .navigation-header .navbar-menu-app .container-fluid #myNavbar li a .caret {
            float: right;
            margin-top: 10px; }
        .navigation-header .navbar-menu-app .container-fluid #myNavbar li.active {
          border-left: 1px solid #4d4d4d; } }
      .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav li {
        padding: 0 5px; }
        .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav li.active a {
          text-decoration: underline #4d4d4d;
          background: none; }
        .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav li a {
          color: #4d4d4d; }
          .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav li a:hover {
            text-decoration: underline #4d4d4d;
            background: #e7e7e7; }
      .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li {
        padding: 0; }
        .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li a:hover {
          background: transparent;
          text-decoration: none; }
        @media screen and (max-width: 768px) {
          .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li:first-child {
            display: none; } }
        .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li #dh-cart-group .fa.fa-shopping-cart {
          line-height: 60px; }
        .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li #dh-cart-group .show-quantily-of-cart {
          position: relative;
          top: -10px;
          font-size: 15px;
          margin-left: 3px;
          background: #7b599b;
          border-radius: 50%;
          color: white;
          padding: 2px 3px;
          font-weight: bold;
          text-transform: uppercase; }
        .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li #dh-cart-group .dropdown-menu {
          top: 75%;
          padding: 5px;
          width: 348px; }
          .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li #dh-cart-group .dropdown-menu .dh-group {
            padding: 10px 5px 5px; }
            .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li #dh-cart-group .dropdown-menu .dh-group .btn-view-cart {
              padding: 6px 0;
              float: right;
              color: #fff;
              background: #7b599b;
              text-align: center;
              width: 130px;
              text-transform: none; }
          .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li #dh-cart-group .dropdown-menu .cart-item {
            padding-bottom: 10px; }
            .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li #dh-cart-group .dropdown-menu .cart-item .show-photo img {
              width: 100%; }
            .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li #dh-cart-group .dropdown-menu .cart-item .show-name.show-quantily {
              padding: 0; }
              .navigation-header .navbar-menu-app .container-fluid #myNavbar .navbar-nav.navbar-right li #dh-cart-group .dropdown-menu .cart-item .show-name.show-quantily p {
                padding: 0;
                margin: 0; }
  .navigation-header .fa {
    font-size: 25px; }

/*# sourceMappingURL=navigationheaderstyle.css.map */
